.dialog {
  .panel {
    justify-content: space-between;

    h1 {
      font-weight: 500;
      font-size: calc(1rem * 32 / 16);
      color: var(--colors-white);
      width: 30ch;
      text-align: center;
    }

    form {
      column-gap: 150px;
      align-items: center;
    }
  }
}
