nav {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 0;
  .logo {
    display: flex;
    align-items: center;
    column-gap: 6px;
    svg {
      width: 22px;
      height: 22px;
    }

    span {
      font-weight: 500;
      font-size: calc(1rem * 24 / 16);
      color: var(--colors-white);
      font-family: 'Roboto Mono', monospace;
    }
  }

  .login {
    font-weight: 500;
    font-size: calc(1rem * 18 / 16);
    color: var(--colors-white);
    margin-left: auto;
    margin-right: 34px;
  }

  .primary {
    color: var(--colors-navy-700);
    background-color: var(--colors-white);
    border-radius: var(--border-radius-medium);
    box-shadow: var(--shadows-center-white);
    padding: 5px;
    font-weight: bold;
    font-size: calc(1rem * 18 / 16);
  }
}
