.note {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 3px solid var(--colors-navy-700);

    h2 {
      font-weight: 400;
      font-size: calc(1rem * 20 / 16);
      color: var(--colors-white);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 220px;
      margin-right: 40px;
    }

    input {
      font-size: calc(1rem * 20 / 16);
      font-weight: 400;
      color: var(--colors-white);
      background-color: transparent;
      width: 220px;
      margin-right: 40px;
    }

    .edit-view {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 8px;
      width: 80px;
      height: 33px;
      border-radius: var(--border-radius-medium);
      box-shadow: var(--shadows-center-white);
      background-color: var(--colors-navy-700);
      span {
        font-weight: 500;
        font-size: calc(1rem * 16 / 16);
        color: var(--colors-white);
      }

      .pen {
        width: 16px;
        height: 16px;
      }

      .eye {
        width: 20px;
        height: 20px;
      }
    }

    .status {
      display: flex;
      align-items: center;
      column-gap: 8px;
      margin-left: auto;
      svg {
        width: 24px;
      }

      span {
        font-weight: 400;
        font-size: calc(1rem * 20 / 16);
        color: var(--colors-white);
      }
    }

    .delete {
      margin-left: auto;
      border-radius: var(--border-radius-medium);
      background-color: var(--colors-navy-200);
      display: flex;
      align-items: center;
      column-gap: 5px;
      padding: 6px;
      box-shadow: var(--shadows-center-black);
      span {
        font-weight: 500;
        font-size: calc(1rem * 16 / 16);
        color: var(--colors-navy-700);
      }

      svg {
        width: 20px;
        height: 20px;
        path {
          fill: var(--colors-navy-700);
        }
      }
    }
  }

  .editor-wrapper {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    .cm-line {
      font-family: 'Source Code Pro', monospace;
      font-size: calc(1rem * 16 / 16);
      color: lightgray;

      .ͼ11 {
        font-size: calc(1rem * 20 / 16);
        color: var(--colors-white);
      }

      .ͼ10 {
        font-size: calc(1rem * 16 / 16);
        font-weight: 500;
        color: lightblue;
      }

      .ͼ13 {
        font-size: calc(1rem * 18 / 16);
        font-weight: 500;
        color: lightsteelblue;
      }
    }

    .cm-cursor {
      width: 4px;
    }

    .cm-fat-cursor {
      outline: solid 2px lightsteelblue;
      background-color: lightsteelblue;
      width: 4px;
    }
  }

  .preview {
    overflow-y: auto;
    padding: 10px;

    pre {
      padding: 7px;
      font-size: 95%;
      div {
        margin: 0 !important;
        padding: 8px !important;
      }
    }
  }
}
